<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About us</title>
    <link rel="stylesheet" href="style/style.css">
</head>
<body>
    <header id="header">
        <div class="logo">
            <a href="/" id="bnifsc">X-Frame</a>
        </div>
    </header>
    <div class="cotent">

    </div>
    <footer class="footer">
        <ul class="ul">
            <li><a href="/contact_us" class="a">Contact us</a></li>
            <li><a href="/about_us" class="a">About us</a></li>
            <li><a href="/privacy" class=a>Privacy</a></li>
        </ul>
    </footer>
    
</body>
</html>